<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Portal</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"> 
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/8037/8037350.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/color.css">
</head>
<body>
<!-- Navbar -->
<section id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand">Job Finder</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav m-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link "  href="#Home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#Services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#Hire">Let's Hire</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#contact">Contact</a>
            </li>
          </ul>
          <form class="d-flex">
            <a class="btns me-2 text-center" href="/login">Login</a>
            <a class="btns me-2 text-center" href="/signup">Signup</a>
          </form>
        </div>
      </div>
    </nav>
</section>

  <!-- Home Section -->

  <section class="main" id="Home">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 mt-5 py-5">
          <h1 id="search-text">Make Your Dream <br> True Here</h1>
          <input type="text" placeholder="Job Title or Keyword" id="search"> 
          <button class="btns">Find job</button>
          <h2 class="mt-2">Commited to connects job seekers with potential employers.</h2>
        </div>
      </div>
    </div>
  </section>

 <!-- Services Section  -->
  
  <section id="Services" class="ceta py-5">
    <div class="container-fluid py-5 text-center">
      <p class="red">Services</p>
      <h2>Browse Top Catagories</h2>
      <div class="row py-1">
        <div class="col-lg-11">
          <div class="row">

            <div class="col-lg-3 mt-4 mx-4">
              <div class="card" style="width: 15rem;">
                <div class="card-body">
                  <img src="../image/Buisness Development.jpeg" class="img-fluid my-1" alt="">
                  <h6 class="red">Buisness Development</h6>
                </div>
              </div>
            </div>

            <div class="col-lg-3 mt-4 mx-4">
              <div class="card" style="width: 15rem;">
                <div class="card-body">
                  <img src="../image/Customer Service.jpeg" class="img-fluid my-1" alt="">
                  <h6 class="red">Customer Service</h6>
                </div>
              </div>
            </div>


            <div class="col-lg-3 mt-4 mx-4">
              <div class="card" style="width: 15rem;">
                <div class="card-body">
                  <img src="../image/IT.jpg" class="img-fluid my-1" alt="">
                  <h6 class="red">Information Technology</h6>
                </div>
              </div>
            </div>


            <div class="col-lg-3 mt-4 mx-4">
              <div class="card" style="width: 15rem;">
                <div class="card-body">
                  <img src="../image/hr.png" class="img-fluid my-1" alt="">
                  <h6 class="red">Human Resource</h6>
                </div>
              </div>
            </div>


            <div class="col-lg-3 mt-4 mx-4">
              <div class="card" style="width: 15rem;">
                <div class="card-body">
                  <img src="../image/Public Administration.png" class="img-fluid my-1" alt="">
                  <h6 class="red">Public Administration</h6>
                </div>
              </div>
            </div>
            

            <div class="col-lg-3 mt-4 mx-4">
              <div class="card" style="width: 15rem;">
                <div class="card-body">
                  <img src="../image/Engeenring.jpeg" class="img-fluid my-1" alt="">
                  <h6 class="red">Engineering</h6>
                </div>
              </div>
            </div>


            <div class="col-lg-3 mt-4 mx-4">
              <div class="card" style="width: 15rem;">
                <div class="card-body">
                  <img src="../image/Healthcare.png" class="img-fluid my-1" alt="">
                  <h6 class="red">Health Care</h6>
                </div>
              </div>
            </div>


            <div class="col-lg-3 mt-4 mx-4">
              <div class="card" style="width: 15rem;">
                <div class="card-body">
                  <img src="../image/Finance.jpeg" class="img-fluid my-1" alt="">
                  <h6 class="red">Finance</h6>
                </div>
              </div>
            </div>


            <div class="col-lg-3 mt-4 mx-4">
              <div class="card" style="width: 15rem;">
                <div class="card-body">
                  <img src="..\image\Telecommunication.png" class="img-fluid my-1" alt="">
                  <h6 class="red">Teli-Communication</h6>
                </div>
              </div>
            </div>

            <div class="row py-5 mt-4">
              <div class="col-lg-5 m-auto">
                <button class="expcb">Browse All Catagories</button>
              </div>
            </div>
              
            </div>
          </div>
      </div>
    </div>
  </section>

  <!-- Hiring Section -->

  <section id="Hire" class="text-center hire">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="mt-2" style="color: brown;">Post your job for millions of pepple to see</h2>
          <button class="psb">Post a job</button>
        </div>
      </div>
    </div>
  </section>

  <section id="contact" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
        
            <img src="https://cdn-icons-png.flaticon.com/512/8037/8037350.png" alt=""> <span>Job Finder</span>
            <p class="mt-2">Connect with us:</p>
            <p>Email-indranilhazra7@gmail.com</p>
            <p>Ph-8436423150</p>
        </div>

        <div class="col-lg-3">
          <ul class="list-group ld mt-2">
            <li><a href="">About Us</a></li>
            <li><a href="">Career</a></li>
            <li><a href="/employeer">Employeer Home</a></li>
            <li><a href="">Sitemap</a></li>
          </ul>
        </div>

        <div class="col-lg-3">
          <ul class="list-group ld mt-2">
            <li><a href="">Help Center</a></li>
            <li><a href="">Notices</a></li>
            <li><a href="">Reporte Issue</a></li>
          </ul>
        </div>

        <div class="col-lg-3">
          <ul class="list-group ld mt-2">
            <li><a href="">privacy Policy</a></li>
            <li><a href="">Terms & Condition</a></li>
            <li><a href="">Trust & Safety</a></li>
          </ul>
        </div>


      </div>
    </div>
  </section>

</body>
</html>