<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/12576/12576072.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body style="background-color: #16423C;">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 text-center  position-absolute start-50 top-50 translate-middle log">
                <img src="https://cdn-icons-png.flaticon.com/512/12576/12576072.png" alt=""> <span>Log-In Form</span>
                <form action="login" method="post">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control text-center" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email" required>
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control text-center" id="exampleInputPassword1" placeholder="Input Password" required>
                      </div>
                      <button type="submit" class="lbtn">Log-In</button>
                </form>
            </div>

        </div>
    </div>
</body>
</html>